
@{
    ViewBag.Title = "UserCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="javascript:void(0);" onclick="history.go(-1);"><h2>UserCreate</h2></a>

@using (Html.BeginForm("AddNewToDB", "Users"))
{
    <div class="row">
        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">ID User</label>
            <div class="col-sm-10">
                <input required class="form-control" type="text" name="IdUser" placeholder="IdUser" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input required class="form-control" type="text" name="Username" placeholder="Username" />
            </div>
        </div>

        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input required class="form-control" type="text" name="Password" placeholder="Password" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input required class="form-control" type="text" name="Firstname" placeholder="First Name" />
            </div>
        </div>

        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input required class="form-control" type="text" name="Lastname" placeholder="Last Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                @*<input required class="form-control" type="text" name="Type" placeholder="Type" />*@

                @if (this.Session["UserProfile"] != "" && this.Session["Type"].Equals("Manager"))
                {
                    @Html.DropDownList("Type", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="User", Value = "User"},
                        new SelectListItem{ Text="Employee", Value = "Employee" },
                        new SelectListItem { Text = "Manager", Value = "Manager" },
                    }, new { @class = "width100 btn btn-secondary" })
                }
                else
                {
                    @Html.DropDownList("Type", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="User", Value = "User"},
                    }, new { @class = "width100 btn btn-secondary" })
                }
            </div>
        </div>

        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-10">
                <input required class="form-control" type="date" name="Dateofbirth" placeholder="Date of Birth" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">Notes</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="Notes" placeholder="Notes" />
            </div>
        </div>

        <div class="col-md-6 form-group row">
            <label class="col-sm-2 col-form-label">PathImage</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="Pathimage" placeholder="Path Image" />
            </div>
        </div>
    </div>

    <div class="row">
        <input type="submit" class="col-md-offset-4 col-md-6 btn btn-primary" value="Next" />
    </div>
}