
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="javascript:void(0);" onclick="history.go(-1);"><h2>ExportIndex</h2></a>

@using (Html.BeginForm("Export", "Export"))
{
<div class="row">
    <div class="col-md-6 form-group row">
        <label class="col-sm-3 col-form-label">Export by</label>
        <div class="col-sm-9">
            @Html.DropDownList("Status", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="Hired", Value = "Hired"},
                        new SelectListItem{ Text="Returned", Value = "Returned" }
                    }, new { @class = "width100 btn btn-secondary" })
        </div>
    </div>

    <div class="row">
        <input type="submit" class="col-md-offset-4 col-md-6 btn btn-primary" value="Export" />
    </div>
</div>
}
