body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.widget {
    float: left;
    width: 100%;
}

    .widget h2 {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 20px 0px;
        position: relative;
    }

.widget-text {
    color: #fff;
    font-size: 14px;
    margin: 4px 10px 0px 0px;
    list-style: none;
}

.widget-new-letter {
    float: left;
    width: 100%;
    border-radius: 0px;
    height: 41px;
    background-color: #fff;
    padding: 6px 10px;
}

.footer-background-color {
    background-color: #000;
}

.border-top {
    border-top: solid 3px rgba(255,255,255,0.2);
}

.padding-left {
    padding-left: 0px;
}

.button-footer {
    float: left;
    font-weight: bold;
    position: static;
    padding: 9px 15px 10px 15px px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #32B5F3;
    color: #fff;
    font-size: 12px;
    right: 0px;
    top: 0px;
    height: 100%;
    border-radius: 0;
}


