@*@model LibraryManage.Models.UsersModel;*@

@{
    ViewBag.Title = "Home Page";
    if (this.Session["UserProfile"] != "")
    {
        Layout = "~/Views/Shared/_AuthLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<head>
    <link href="~/Content/Index/main.css" rel="stylesheet" type="text/css" />
</head>

<div class="jumbotron index-banner">
    <h1 class="font-color-banner">WELCOME TO OUR BOOKSTORE</h1>
    <p class="lead font-color-banner">We got all you need. All you have to do is read it</p>
    <div class="container">
        <div class="banner-search">
            @using (Html.BeginForm("getSelectedValue", "SearchBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-2">
                        <h2 class="font-color-white">
                            Search
                            <br class="font-color-white" /> Your Books
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <input style="color: black;" class="input" type="text" name="BookTitle" placeholder="Enter Your Title" />
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("LogOffTime", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Action", Value = "action"},
                           new SelectListItem{ Text="Horror", Value = "horror" },
                           new SelectListItem{ Text="Anime", Value = "anime" }
                        }, new {@class = "width100 btn btn-secondary"})

                    </div>
                    <div class="col-md-2">
                        <button type="submit" style="width: 100%;" class="button">Search</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts
{
    <script>
        $(".dropdown-menu li a").click(function () {

            $(".btn:first-child").html($(this).text() + ' <span class="caret"></span>');

        });

    </script>
}

